<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Guia_Turistico.Properties.Settings.GuiaTuristicoConnectionString"
            connectionString="Data Source=DMDUDB;Initial Catalog=GuiaTuristico;User ID=AdministradorDBA;Password=2021#ADMINUDB@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>